/* You can add global styles to this file, and also import other style files */
body {
  background: #000000; /* fallback for old browsers */
}

.card{
  width: 400px;
  height: 400px;
  background-color: transparent;
  color: #fff;
  margin: 10px;
}


.container{
  width: 100%;
  background-color: red;
}
